nodered/flows.json
[
    {
        "id": "waterwise_main_tab",
        "type": "tab",
        "label": "WaterWise IoT Dashboard",
        "disabled": false,
        "info": "Sistema de Prevenção de Enchentes - 5 Dispositivos IoT\nGlobal Solution 2025 - FIAP"
    },
    {
        "id": "mqtt_broker_fiap",
        "type": "mqtt-broker",
        "name": "FIAP MQTT Broker",
        "broker": "172.208.54.189",
        "port": "1883",
        "clientid": "waterwise-nodered-gs2025",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "credentials": {
            "user": "gs2025",
            "password": "q1w2e3r4"
        }
    },
    {
        "id": "ui_group_sensors",
        "type": "ui_group",
        "name": "Sensores IoT",
        "tab": "ui_tab_waterwise",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_actuators",
        "type": "ui_group",
        "name": "Atuadores IoT", 
        "tab": "ui_tab_waterwise",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_analysis",
        "type": "ui_group",
        "name": "Análise WaterWise",
        "tab": "ui_tab_waterwise", 
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_tab_waterwise",
        "type": "ui_tab",
        "name": "WaterWise Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "mqtt_in_sensors",
        "type": "mqtt in",
        "z": "waterwise_main_tab",
        "name": "WaterWise Sensores",
        "topic": "waterwise/sensors/data",
        "qos": "0",
        "broker": "mqtt_broker_fiap",
        "x": 140,
        "y": 100,
        "wires": [["json_parse_sensors"]]
    },
    {
        "id": "mqtt_in_alerts",
        "type": "mqtt in",
        "z": "waterwise_main_tab",
        "name": "WaterWise Alertas",
        "topic": "waterwise/alerts/flood",
        "qos": "0", 
        "broker": "mqtt_broker_fiap",
        "x": 140,
        "y": 160,
        "wires": [["json_parse_alerts"]]
    },
    {
        "id": "json_parse_sensors",
        "type": "json",
        "z": "waterwise_main_tab",
        "name": "Parse JSON Sensores",
        "x": 360,
        "y": 100,
        "wires": [["split_device_data", "debug_sensors"]]
    },
    {
        "id": "json_parse_alerts",
        "type": "json", 
        "z": "waterwise_main_tab",
        "name": "Parse JSON Alertas",
        "x": 360,
        "y": 160,
        "wires": [["alert_notification", "debug_alerts"]]
    },
    {
        "id": "split_device_data",
        "type": "function",
        "z": "waterwise_main_tab",
        "name": "Separar Dispositivos",
        "func": "const data = msg.payload;\n\n// Dispositivo 1: DHT22\nif (data.devices && data.devices.dht22) {\n    msg.dht22 = {\n        temperature: data.devices.dht22.temperature,\n        humidity: data.devices.dht22.humidity,\n        status: data.devices.dht22.status\n    };\n}\n\n// Dispositivo 2: Solo\nif (data.devices && data.devices.soilSensor) {\n    msg.soil = {\n        moisture: data.devices.soilSensor.moisture_percent,\n        raw: data.devices.soilSensor.moisture_raw,\n        status: data.devices.soilSensor.status\n    };\n}\n\n// Dispositivo 3: Chuva\nif (data.devices && data.devices.rainSensor) {\n    msg.rain = {\n        intensity: data.devices.rainSensor.intensity_percent,\n        raw: data.devices.rainSensor.rain_raw,\n        status: data.devices.rainSensor.status\n    };\n}\n\n// Dispositivo 4: Buzzer\nif (data.devices && data.devices.buzzer) {\n    msg.buzzer = {\n        active: data.devices.buzzer.active,\n        alert_level: data.devices.buzzer.alert_level\n    };\n}\n\n// Dispositivo 5: LED Status\nif (data.devices && data.devices.statusLED) {\n    msg.led = {\n        state: data.devices.statusLED.state,\n        color: data.devices.statusLED.color,\n        pattern: data.devices.statusLED.blink_pattern\n    };\n}\n\n// Análise de Risco\nif (data.analysis) {\n    msg.analysis = data.analysis;\n}\n\n// Informações do sistema\nmsg.system = {\n    farmId: data.farmId,\n    teamName: data.teamName,\n    location: data.location,\n    timestamp: data.timestamp\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 560,
        "y": 100,
        "wires": [["dashboard_temp", "dashboard_humidity", "dashboard_soil", "dashboard_rain", "dashboard_buzzer", "dashboard_led", "risk_analysis"]]
    },
    {
        "id": "dashboard_temp",
        "type": "ui_gauge",
        "z": "waterwise_main_tab",
        "name": "Temperatura",
        "group": "ui_group_sensors",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Dispositivo 1: Temperatura",
        "label": "°C",
        "format": "{{msg.dht22.temperature}}",
        "min": 0,
        "max": 50,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": 20,
        "seg2": 35,
        "x": 780,
        "y": 60,
        "wires": []
    },
    {
        "id": "dashboard_humidity",
        "type": "ui_gauge",
        "z": "waterwise_main_tab", 
        "name": "Umidade Ar",
        "group": "ui_group_sensors",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Dispositivo 1: Umidade Ar",
        "label": "%",
        "format": "{{msg.dht22.humidity}}",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": 30,
        "seg2": 70,
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "dashboard_soil",
        "type": "ui_gauge",
        "z": "waterwise_main_tab",
        "name": "Umidade Solo",
        "group": "ui_group_sensors",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Dispositivo 2: Solo",
        "label": "%",
        "format": "{{msg.soil.moisture}}",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": 25,
        "seg2": 60,
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "dashboard_rain",
        "type": "ui_gauge",
        "z": "waterwise_main_tab",
        "name": "Intensidade Chuva",
        "group": "ui_group_sensors",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Dispositivo 3: Chuva",
        "label": "%",
        "format": "{{msg.rain.intensity}}",
        "min": 0,
        "max": 100,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": 30,
        "seg2": 70,
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "dashboard_buzzer",
        "type": "ui_text",
        "z": "waterwise_main_tab",
        "name": "Status Buzzer",
        "group": "ui_group_actuators",
        "order": 1,
        "width": 6,
        "height": 2,
        "label": "Dispositivo 4: Buzzer",
        "format": "{{msg.buzzer.active ? 'ATIVO - Nível ' + msg.buzzer.alert_level : 'Inativo'}}",
        "layout": "row-spread",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "dashboard_led",
        "type": "ui_text",
        "z": "waterwise_main_tab",
        "name": "Status LED",
        "group": "ui_group_actuators",
        "order": 2,
        "width": 6,
        "height": 2,
        "label": "Dispositivo 5: LED Status",
        "format": "{{msg.led.state ? msg.led.color.toUpperCase() + ' - ' + (msg.led.pattern === 0 ? 'Fixo' : msg.led.pattern === 1 ? 'Rápido' : msg.led.pattern === 2 ? 'Médio' : 'Lento') : 'OFF'}}",
        "layout": "row-spread",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "risk_analysis",
        "type": "function",
        "z": "waterwise_main_tab",
        "name": "Análise WaterWise",
        "func": "if (!msg.analysis) return null;\n\nconst analysis = msg.analysis;\nconst soil = msg.soil ? msg.soil.moisture : 0;\nconst rain = msg.rain ? msg.rain.intensity : 0;\nconst temp = msg.dht22 ? msg.dht22.temperature : 0;\n\n// Criar mensagem de risco\nlet riskColor = '#00b500'; // Verde\nlet riskIcon = '✅';\n\nif (analysis.risk_level >= 8) {\n    riskColor = '#ca3838'; // Vermelho\n    riskIcon = '🚨';\n} else if (analysis.risk_level >= 6) {\n    riskColor = '#ff8c00'; // Laranja\n    riskIcon = '⚠️';\n} else if (analysis.risk_level >= 4) {\n    riskColor = '#e6e600'; // Amarelo\n    riskIcon = '🟡';\n}\n\nmsg.riskData = {\n    level: analysis.risk_level,\n    description: analysis.risk_description,\n    recommendation: analysis.recommendation,\n    color: riskColor,\n    icon: riskIcon,\n    floodAlert: analysis.flood_alert,\n    droughtAlert: analysis.drought_alert,\n    extremeWeatherAlert: analysis.extreme_weather_alert\n};\n\n// Dados para gráfico histórico\nmsg.chartData = {\n    timestamp: new Date().toLocaleTimeString(),\n    soil: soil,\n    rain: rain,\n    risk: analysis.risk_level,\n    temperature: temp\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 780,
        "y": 420,
        "wires": [["dashboard_risk_level", "dashboard_risk_desc", "dashboard_recommendation", "chart_history"]]
    },
    {
        "id": "dashboard_risk_level",
        "type": "ui_gauge",
        "z": "waterwise_main_tab",
        "name": "Nível de Risco",
        "group": "ui_group_analysis",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Risco de Enchente WaterWise",
        "label": "/10",
        "format": "{{msg.riskData.icon}} {{msg.riskData.level}}",
        "min": 0,
        "max": 10,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": 3,
        "seg2": 7,
        "x": 1000,
        "y": 400,
        "wires": []
    },
    {
        "id": "dashboard_risk_desc",
        "type": "ui_text",
        "z": "waterwise_main_tab",
        "name": "Descrição do Risco",
        "group": "ui_group_analysis",
        "order": 2,
        "width": 6,
        "height": 2,
        "label": "Status Atual",
        "format": "{{msg.riskData.description}}",
        "layout": "row-spread",
        "x": 1000,
        "y": 460,
        "wires": []
    },
    {
        "id": "dashboard_recommendation",
        "type": "ui_text",
        "z": "waterwise_main_tab",
        "name": "Recomendação",
        "group": "ui_group_analysis",
        "order": 3,
        "width": 12,
        "height": 2,
        "label": "Ação Recomendada",
        "format": "{{msg.riskData.recommendation}}",
        "layout": "row-spread",
        "x": 1000,
        "y": 520,
        "wires": []
    },
    {
        "id": "chart_history",
        "type": "ui_chart",
        "z": "waterwise_main_tab",
        "name": "Histórico Sensores",
        "group": "ui_group_analysis",
        "order": 4,
        "width": 12,
        "height": 6,
        "label": "Histórico dos Sensores (Últimos 10 min)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderUnit": "60",
        "x": 1000,
        "y": 580,
        "wires": [[], []],
        "func": "// Preparar dados para o gráfico\nif (!msg.chartData) return null;\n\nconst data = msg.chartData;\n\n// Criar múltiplas séries para o gráfico\nconst series = [\n    {\n        series: 'Solo (%)',\n        x: data.timestamp,\n        y: data.soil\n    },\n    {\n        series: 'Chuva (%)',\n        x: data.timestamp, \n        y: data.rain\n    },\n    {\n        series: 'Risco (x10)',\n        x: data.timestamp,\n        y: data.risk * 10\n    },\n    {\n        series: 'Temp (°C)',\n        x: data.timestamp,\n        y: data.temperature\n    }\n];\n\nreturn series.map(s => ({payload: [s]}));"
    },
    {
        "id": "alert_notification",
        "type": "ui_toast",
        "z": "waterwise_main_tab",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Alerta WaterWise",
        "name": "Notificação de Alerta",
        "x": 580,
        "y": 160,
        "wires": [],
        "func": "const alerts = msg.payload;\nif (!alerts || !alerts.active_alerts) return null;\n\nlet message = `🚨 ALERTA ${alerts.severity}\\n`;\nmessage += `Farm: ${alerts.farmId}\\n`;\nmessage += `Local: ${alerts.location}\\n\\n`;\n\nalerts.active_alerts.forEach(alert => {\n    message += `${alert.type}: ${alert.message}\\n`;\n});\n\nmessage += `\\nAção: ${alerts.recommendation}`;\n\nmsg.payload = message;\nreturn msg;"
    },
    {
        "id": "debug_sensors",
        "type": "debug",
        "z": "waterwise_main_tab",
        "name": "Debug Sensores",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug_alerts",
        "type": "debug",
        "z": "waterwise_main_tab",
        "name": "Debug Alertas",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 260,
        "wires": []
    },
    {
        "id": "device_status_monitor",
        "type": "function",
        "z": "waterwise_main_tab",
        "name": "Monitor Dispositivos",
        "func": "// Monitorar status dos 5 dispositivos\nif (!msg.payload || !msg.payload.devices) return null;\n\nconst devices = msg.payload.devices;\nlet statusReport = {\n    timestamp: new Date().toISOString(),\n    totalDevices: 5,\n    activeDevices: 0,\n    deviceStatus: {}\n};\n\n// Verificar cada dispositivo\nif (devices.dht22) {\n    statusReport.deviceStatus.dht22 = devices.dht22.status;\n    if (devices.dht22.status === 'active') statusReport.activeDevices++;\n}\n\nif (devices.soilSensor) {\n    statusReport.deviceStatus.soilSensor = devices.soilSensor.status;\n    statusReport.activeDevices++;\n}\n\nif (devices.rainSensor) {\n    statusReport.deviceStatus.rainSensor = devices.rainSensor.status;\n    statusReport.activeDevices++;\n}\n\nif (devices.buzzer) {\n    statusReport.deviceStatus.buzzer = devices.buzzer.active ? 'active' : 'standby';\n    statusReport.activeDevices++;\n}\n\nif (devices.statusLED) {\n    statusReport.deviceStatus.statusLED = devices.statusLED.state ? 'active' : 'inactive';\n    statusReport.activeDevices++;\n}\n\nstatusReport.systemHealth = (statusReport.activeDevices / statusReport.totalDevices) * 100;\n\nmsg.deviceStatus = statusReport;\nreturn msg;",
        "outputs": 1,
        "x": 580,
        "y": 320,
        "wires": [["dashboard_system_health"]]
    },
    {
        "id": "dashboard_system_health",
        "type": "ui_gauge",
        "z": "waterwise_main_tab",
        "name": "Saúde do Sistema",
        "group": "ui_group_actuators",
        "order": 3,
        "width": 12,
        "height": 3,
        "gtype": "gage",
        "title": "Saúde do Sistema IoT (5 Dispositivos)",
        "label": "%",
        "format": "{{msg.deviceStatus.activeDevices}}/{{msg.deviceStatus.totalDevices}} ativos",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": 60,
        "seg2": 80,
        "x": 800,
        "y": 320,
        "wires": []
    }
]