nodered/flowdashboard.json
[
    {
        "id": "waterwise_tab",
        "type": "tab",
        "label": "WaterWise - 3 Sensores",
        "disabled": false,
        "info": "Sistema de Prevenção a Enchentes\n3 Sensores: DHT22 + Solo + Chuva\nGlobal Solution 2025 - FIAP"
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Broker Público",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "waterwise-gs2025",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ui_group_sensors",
        "type": "ui_group",
        "name": "🌡️ Sensores IoT",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_group_analysis",
        "type": "ui_group",
        "name": "🧮 Análise WaterWise",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_group_chart",
        "type": "ui_group",
        "name": "📊 Histórico dos Sensores",
        "tab": "ui_tab_main",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_group_system",
        "type": "ui_group",
        "name": "⚙️ Status do Sistema",
        "tab": "ui_tab_main",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "WaterWise Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "waterwise_tab",
        "name": "Dados WaterWise",
        "topic": "fiap/waterwise/sensors/data",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [["process_data", "debug_input"]]
    },
    {
        "id": "process_data",
        "type": "function",
        "z": "waterwise_tab",
        "name": "Processar WaterWise",
        "func": "// Verificar se há dados válidos\nif (!msg.payload || typeof msg.payload !== 'object') {\n    node.warn('Dados inválidos recebidos');\n    return null;\n}\n\nconst data = msg.payload;\n\n// Extrair dados dos sensores\nconst sensors = data.sensors || {};\nconst analysis = data.analysis || {};\n\n// SENSOR 1: DHT22 (Temperatura e Umidade)\nconst dht22 = sensors.dht22 || {};\nmsg.temperature = parseFloat(dht22.temperature) || 0;\nmsg.humidity = parseFloat(dht22.humidity) || 0;\nmsg.dht_status = dht22.status || 'offline';\n\n// SENSOR 2: Solo\nconst soil = sensors.soilSensor || {};\nmsg.soil_moisture = parseFloat(soil.moisture_percent) || 0;\nmsg.soil_raw = parseInt(soil.moisture_raw) || 0;\nmsg.soil_status = soil.status || 'offline';\n\n// SENSOR 3: Chuva\nconst rain = sensors.rainSensor || {};\nmsg.rain_intensity = parseFloat(rain.intensity_percent) || 0;\nmsg.rain_raw = parseInt(rain.rain_raw) || 0;\nmsg.rain_status = rain.status || 'offline';\n\n// ANÁLISE DE RISCO\nmsg.risk_level = parseInt(analysis.risk_level) || 0;\nmsg.risk_description = analysis.risk_description || 'Aguardando dados';\nmsg.recommendation = analysis.recommendation || 'Verificar sistema';\nmsg.flood_alert = analysis.flood_alert || false;\nmsg.drought_alert = analysis.drought_alert || false;\nmsg.extreme_weather = analysis.extreme_weather_alert || false;\n\n// INFORMAÇÕES DO SISTEMA\nmsg.farm_id = data.farmId || 'Unknown';\nmsg.team_name = data.teamName || 'Team';\nmsg.location = data.location || 'Location';\nmsg.ip = data.ip || '0.0.0.0';\nmsg.mac = data.mac || '00:00:00:00:00:00';\nmsg.simulation = data.simulation || false;\n\n// Timestamp para gráfico\nmsg.timestamp = new Date().toLocaleTimeString();\n\n// Status geral dos sensores\nlet active_sensors = 0;\nif (msg.dht_status === 'active' || msg.dht_status === 'simulated') active_sensors++;\nif (msg.soil_status !== 'offline') active_sensors++;\nif (msg.rain_status !== 'offline') active_sensors++;\n\nmsg.system_health = Math.round((active_sensors / 3) * 100);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": [["split_outputs"]]
    },
    {
        "id": "split_outputs",
        "type": "function",
        "z": "waterwise_tab",
        "name": "Distribuir Dados",
        "func": "// Criar outputs separados para cada componente\nconst outputs = [];\n\n// Output 1: Temperatura\noutputs[0] = {payload: msg.temperature};\n\n// Output 2: Umidade\noutputs[1] = {payload: msg.humidity};\n\n// Output 3: Solo\noutputs[2] = {payload: msg.soil_moisture};\n\n// Output 4: Chuva\noutputs[3] = {payload: msg.rain_intensity};\n\n// Output 5: Risco\noutputs[4] = {payload: msg.risk_level};\n\n// Output 6: Descrição Risco\noutputs[5] = {payload: msg.risk_description};\n\n// Output 7: Recomendação\noutputs[6] = {payload: msg.recommendation};\n\n// Output 8: Alertas\nlet alerts = [];\nif (msg.flood_alert) alerts.push('🌊 ENCHENTE');\nif (msg.drought_alert) alerts.push('🏜️ SECA');\nif (msg.extreme_weather) alerts.push('🌡️ EXTREMO');\noutputs[7] = {payload: alerts.length > 0 ? alerts.join(' | ') : '✅ Nenhum alerta'};\n\n// Output 9: Info Sistema\nconst system_info = `Farm: ${msg.farm_id} | Equipe: ${msg.team_name} | IP: ${msg.ip} | Simulação: ${msg.simulation ? 'ATIVA' : 'OFF'}`;\noutputs[8] = {payload: system_info};\n\n// Output 10: Saúde Sistema\noutputs[9] = {payload: msg.system_health};\n\n// Output 11-14: Dados para gráfico\noutputs[10] = {payload: [{\"series\": \"Solo (%)\", \"x\": msg.timestamp, \"y\": msg.soil_moisture}]};\noutputs[11] = {payload: [{\"series\": \"Chuva (%)\", \"x\": msg.timestamp, \"y\": msg.rain_intensity}]};\noutputs[12] = {payload: [{\"series\": \"Risco (x10)\", \"x\": msg.timestamp, \"y\": msg.risk_level * 10}]};\noutputs[13] = {payload: [{\"series\": \"Temp (°C x2)\", \"x\": msg.timestamp, \"y\": msg.temperature * 2}]};\n\nreturn outputs;",
        "outputs": 14,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 100,
        "wires": [
            ["gauge_temperature"],
            ["gauge_humidity"],
            ["gauge_soil"],
            ["gauge_rain"],
            ["gauge_risk"],
            ["text_risk_desc"],
            ["text_recommendation"],
            ["text_alerts"],
            ["text_system_info"],
            ["gauge_system_health"],
            ["chart_historical"],
            ["chart_historical"],
            ["chart_historical"],
            ["chart_historical"]
        ]
    },
    {
        "id": "gauge_temperature",
        "type": "ui_gauge",
        "z": "waterwise_tab",
        "name": "Temperatura",
        "group": "ui_group_sensors",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "🌡️ Temperatura (DHT22)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": 20,
        "seg2": 35,
        "diff": false,
        "className": "",
        "x": 760,
        "y": 40,
        "wires": []
    },
    {
        "id": "gauge_humidity",
        "type": "ui_gauge",
        "z": "waterwise_tab",
        "name": "Umidade Ar",
        "group": "ui_group_sensors",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "💨 Umidade Ar (DHT22)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": 30,
        "seg2": 70,
        "diff": false,
        "className": "",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "gauge_soil",
        "type": "ui_gauge",
        "z": "waterwise_tab",
        "name": "Umidade Solo",
        "group": "ui_group_sensors",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "🌱 Umidade Solo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": 25,
        "seg2": 60,
        "diff": false,
        "className": "",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "gauge_rain",
        "type": "ui_gauge",
        "z": "waterwise_tab",
        "name": "Intensidade Chuva",
        "group": "ui_group_sensors",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "🌧️ Intensidade Chuva",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": 30,
        "seg2": 70,
        "diff": false,
        "className": "",
        "x": 760,
        "y": 220,
        "wires": []
    },
    {
        "id": "gauge_risk",
        "type": "ui_gauge",
        "z": "waterwise_tab",
        "name": "Nível de Risco",
        "group": "ui_group_analysis",
        "order": 1,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "⚠️ Risco de Enchente",
        "label": "/10",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": 3,
        "seg2": 7,
        "diff": false,
        "className": "",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "text_risk_desc",
        "type": "ui_text",
        "z": "waterwise_tab",
        "group": "ui_group_analysis",
        "order": 2,
        "width": 6,
        "height": 2,
        "name": "Descrição Risco",
        "label": "📝 Status Atual",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 360,
        "wires": []
    },
    {
        "id": "text_recommendation",
        "type": "ui_text",
        "z": "waterwise_tab",
        "group": "ui_group_analysis",
        "order": 3,
        "width": 6,
        "height": 2,
        "name": "Recomendação",
        "label": "💡 Ação Recomendada",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "text_alerts",
        "type": "ui_text",
        "z": "waterwise_tab",
        "group": "ui_group_analysis",
        "order": 4,
        "width": 6,
        "height": 2,
        "name": "Alertas",
        "label": "🚨 Alertas Ativos",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 480,
        "wires": []
    },
    {
        "id": "chart_historical",
        "type": "ui_chart",
        "z": "waterwise_tab",
        "name": "Histórico",
        "group": "ui_group_chart",
        "order": 1,
        "width": 12,
        "height": 6,
        "label": "📊 Histórico dos 3 Sensores (Últimos 10 min)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados WaterWise...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 10,
        "removeOlderUnit": "60",
        "x": 760,
        "y": 560,
        "wires": [[], []]
    },
    {
        "id": "text_system_info",
        "type": "ui_text",
        "z": "waterwise_tab",
        "group": "ui_group_system",
        "order": 1,
        "width": 8,
        "height": 2,
        "name": "Info Sistema",
        "label": "ℹ️ Informações do Sistema",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 640,
        "wires": []
    },
    {
        "id": "gauge_system_health",
        "type": "ui_gauge",
        "z": "waterwise_tab",
        "name": "Saúde Sistema",
        "group": "ui_group_system",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "💚 Saúde dos Sensores",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": 33,
        "seg2": 66,
        "diff": false,
        "className": "",
        "x": 760,
        "y": 700,
        "wires": []
    },
    {
        "id": "debug_input",
        "type": "debug",
        "z": "waterwise_tab",
        "name": "Debug Entrada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 160,
        "wires": []
    },
    {
        "id": "inject_test_normal",
        "type": "inject",
        "z": "waterwise_tab",
        "name": "🧪 TESTE: Normal",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"system\":\"WaterWise-v2.0-3Sensors\",\"farmId\":\"FARM_TESTE_2025\",\"teamName\":\"EQUIPE_TESTE\",\"location\":\"SP_Teste\",\"timestamp\":1735689000000,\"ip\":\"192.168.1.100\",\"mac\":\"A4:CF:12:BF:7A:E5\",\"simulation\":true,\"sensors\":{\"dht22\":{\"temperature\":25.4,\"humidity\":63.2,\"status\":\"active\"},\"soilSensor\":{\"moisture_raw\":2500,\"moisture_percent\":60.0,\"status\":\"Normal\"},\"rainSensor\":{\"rain_raw\":800,\"intensity_percent\":20.0,\"status\":\"Leve\"}},\"analysis\":{\"risk_level\":2,\"risk_description\":\"Baixo - Condições normais\",\"recommendation\":\"Monitoramento rotineiro\",\"flood_alert\":false,\"drought_alert\":false,\"extreme_weather_alert\":false,\"absorption_capacity\":40.0,\"runoff_risk\":4.0}}",
        "payloadType": "json",
        "x": 130,
        "y": 220,
        "wires": [["process_data"]]
    },
    {
        "id": "inject_test_critical",
        "type": "inject",
        "z": "waterwise_tab",
        "name": "🚨 TESTE: CRÍTICO",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"system\":\"WaterWise-v2.0-3Sensors\",\"farmId\":\"FARM_TESTE_2025\",\"teamName\":\"EQUIPE_TESTE\",\"location\":\"SP_Teste\",\"timestamp\":1735689000000,\"ip\":\"192.168.1.100\",\"mac\":\"A4:CF:12:BF:7A:E5\",\"simulation\":true,\"sensors\":{\"dht22\":{\"temperature\":28.7,\"humidity\":45.3,\"status\":\"active\"},\"soilSensor\":{\"moisture_raw\":600,\"moisture_percent\":15.0,\"status\":\"Crítico\"},\"rainSensor\":{\"rain_raw\":3800,\"intensity_percent\":88.0,\"status\":\"Intensa\"}},\"analysis\":{\"risk_level\":10,\"risk_description\":\"CRÍTICO - EMERGÊNCIA\",\"recommendation\":\"EVACUAR ÁREAS DE RISCO\",\"flood_alert\":true,\"drought_alert\":true,\"extreme_weather_alert\":false,\"absorption_capacity\":85.0,\"runoff_risk\":76.0}}",
        "payloadType": "json",
        "x": 130,
        "y": 280,
        "wires": [["process_data"]]
    },
    {
        "id": "inject_test_drought",
        "type": "inject",
        "z": "waterwise_tab",
        "name": "🏜️ TESTE: Seca",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"system\":\"WaterWise-v2.0-3Sensors\",\"farmId\":\"FARM_TESTE_2025\",\"teamName\":\"EQUIPE_TESTE\",\"location\":\"SP_Teste\",\"timestamp\":1735689000000,\"ip\":\"192.168.1.100\",\"mac\":\"A4:CF:12:BF:7A:E5\",\"simulation\":true,\"sensors\":{\"dht22\":{\"temperature\":32.1,\"humidity\":28.4,\"status\":\"active\"},\"soilSensor\":{\"moisture_raw\":400,\"moisture_percent\":12.0,\"status\":\"Crítico - Muito Seco\"},\"rainSensor\":{\"rain_raw\":200,\"intensity_percent\":5.0,\"status\":\"Sem chuva\"}},\"analysis\":{\"risk_level\":5,\"risk_description\":\"Alto - Preparação\",\"recommendation\":\"Preparar sistemas de irrigação\",\"flood_alert\":false,\"drought_alert\":true,\"extreme_weather_alert\":false,\"absorption_capacity\":88.0,\"runoff_risk\":0.4}}",
        "payloadType": "json",
        "x": 120,
        "y": 340,
        "wires": [["process_data"]]
    },
    {
        "id": "inject_test_rain",
        "type": "inject",
        "z": "waterwise_tab",
        "name": "🌧️ TESTE: Chuva",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"system\":\"WaterWise-v2.0-3Sensors\",\"farmId\":\"FARM_TESTE_2025\",\"teamName\":\"EQUIPE_TESTE\",\"location\":\"SP_Teste\",\"timestamp\":1735689000000,\"ip\":\"192.168.1.100\",\"mac\":\"A4:CF:12:BF:7A:E5\",\"simulation\":true,\"sensors\":{\"dht22\":{\"temperature\":22.3,\"humidity\":78.6,\"status\":\"active\"},\"soilSensor\":{\"moisture_raw\":2800,\"moisture_percent\":68.0,\"status\":\"Normal\"},\"rainSensor\":{\"rain_raw\":3200,\"intensity_percent\":78.0,\"status\":\"Intensa\"}},\"analysis\":{\"risk_level\":6,\"risk_description\":\"Alto - Preparação\",\"recommendation\":\"Preparar sistemas de drenagem\",\"flood_alert\":false,\"drought_alert\":false,\"extreme_weather_alert\":false,\"absorption_capacity\":32.0,\"runoff_risk\":23.6}}",
        "payloadType": "json",
        "x": 120,
        "y": 400,
        "wires": [["process_data"]]
    }
]